{% extends "layout/main.html" %}

{% block body %}
{% if request.user.is_authenticated %}
<h3>Welcome {{ request.user }}</h3>
{% endif %}
<h1>List Books</h1>
{% for book in books %}

    <h2>Title: {{ book.isbn.title }}</h2>
    <h3>Author: {{ book.isbn.author }}</h3>
    <p>{{ book.content }}</p>
    <a href="{% url 'edit' book.id %}" ><button type="button" class="btn btn-primary">edit</button></a>
    <a href="{% url 'delete' book.id %}" ><button type="button" class="btn btn-primary">delete</button></a>
    <hr>
{% endfor %}
<a href="{% url 'create'  %}" ><button type="button" class="btn btn-primary">create</button></a>

{% endblock %}